<form [formGroup]="documentForm" (submit)="onFormSubmit()">
    <mat-form-field>
        <input matInput placeholder="Titre " type="text" formControlName="title">
        <mat-error *ngIf="documentForm.get('title').invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Type" formControlName="type">
            <mat-option *ngFor="let docType of documentTypeOptions" [value]="docType.value">{{ docType.label }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="documentForm.get('description').invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Auteur " type="text" formControlName="author">
        <mat-error *ngIf="documentForm.get('author').invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="documentForm.get('date').invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Code " type="text" formControlName="code">
        <mat-error *ngIf="documentForm.get('code').invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>

    <mat-dialog-actions>
        <button type="button" mat-button mat-dialog-close>Annuler</button>
        <button mat-button color="primary">Sauvegarder</button>
    </mat-dialog-actions>
</form>