@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

.table-container {
    display: flex;
    flex-direction: column;
}

.row-action-container {
    display: flex;

    i {
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: mat-color($primary);
        }
        
        &:not(:last-child) {
            margin-right: .5em;
        }
    }
}