<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ documentsType }}
        </mat-panel-title>
        <mat-panel-description>
          {{ documents.length }} document(s)
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <section class="panel-document-container">
          <div class="header-container">
              <div class="action-container">
                  <button mat-button (click)="addDocument()">Ajouter +</button>
              </div>
              <div class="filter-container">

              </div>
              <div class="search-container">

              </div>
          </div>
          <div class="no-results-container" *ngIf="!documents || documents.length === 0">
            Aucun résultat
          </div>
          <div class="table-container" *ngIf="documents && documents.length > 0">
            <table mat-table [dataSource]="documents">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{ formatDate(element.date) }} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row-action-container">
                    <i class="far fa-eye" (click)="handleViewBtnClick(element)"></i>
                    <i class="far fa-edit" (click)="handleEditBtnClick(element)"></i>
                    <i class="far fa-trash-alt" (click)="handleRemoveBtnClick(element)"></i>
                  </div>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
      </section>
    </mat-expansion-panel>
</mat-accordion>